body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;

  background-color: #849d8f;
}

.background-1 {
  background: #849d8f url("../img/light_1.png") top center no-repeat;
}

.background-2 {
  background: #8996a6 url("../img/light_2.png") top center no-repeat;
}

.background-3 {
  background: #9d8b84 url("../img/light_3.png") top center no-repeat;
}

.catalog-background {
  background: #849d8f url("../img/light_catalog.png") repeat-x top center;
}

a {
  text-decoration: none;
}

.site-navigation,
.submenu,
.user-navigation,
.slider-list,
.stock-list,
.catalog-list,
.about-us-elements,
.footer-social,
.footer-links,
.social-list,
.links-list,
.breadcrumbs {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.slider-item a,
.stock-item a,
.catalog-item a,
.news a,
.map-adress a,
.social-list a,
.links-list a,
.footer-copyright a,
.breadcrumbs a,
.pagination-list a {
  color: #ffffff;
}

.social-list a:hover,
.social-list a:focus,
.links-list a:hover,
.links-list a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus,
.breadcrumbs a:hover,
.breadcrums a:focus {
  color: #ffbc9e;
}

.button {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold; 
  background-color: #ec593c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(231,74,53)), to(rgb(242,104,67))); 
  background-image: -webkit-linear-gradient(bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%); 
  background-image: -o-linear-gradient(bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%); 
  background-image: linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
 
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.slider-item .button {
  text-shadow: 0 2px 5px #a0200b;
}

.button:hover,
.button:focus {
  background-color: #f07a63;
  background-image: -webkit-gradient(linear,left bottom, left top,from(rgb(245,134,105)), to(rgb(236,111,94)));
  background-image: -webkit-linear-gradient(bottom,rgb(245,134,105) 0%, rgb(236,111,94) 100%);
  background-image: -o-linear-gradient(bottom,rgb(245,134,105) 0%, rgb(236,111,94) 100%);
  background-image: linear-gradient(0deg,rgb(245,134,105) 0%, rgb(236,111,94) 100%);
}

.button:active {
  background-color: #db5338;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(242,104,67)), to(rgb(231,74,53)));
  background-image: -webkit-linear-gradient(bottom, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -o-linear-gradient(bottom, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: linear-gradient(0deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  -webkit-box-shadow: 0px -2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px -2px 2px 0px rgba(172, 16, 0, 0.64);
}

.form input[type="text"]:not(.price-input),
.form input[type="search"],
.form input[type="email"],
.form input[type="password"],
.form textarea {
  font: inherit;
  font-weight: bold;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.form input[type="text"]:not(.price-input):hover,
.form input[type="search"]:hover,
.form input[type="email"]:hover,
.form input[type="password"]:hover,
.form textarea:hover {
  border-color: #c7c6c5;
  -webkit-box-shadow: inset 0 0 0 1px #c7c6c5;
          box-shadow: inset 0 0 0 1px #c7c6c5;
}

.form input[type="text"]:not(.price-input):focus,
.form input[type="search"]:focus,
.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form textarea:focus {
  border-color: #8fbdec;
  -webkit-box-shadow: inset 0 0 0 1px #8fbdec;
          box-shadow: inset 0 0 0 1px #8fbdec;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: #999999;
  font-weight: normal;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #999999;
  font-weight: normal;
}

.site-navigation-menu > a {
  font-weight: bold;
  text-decoration: underline;
}

.submenu a {
  display: block;
  margin: 0;
}

.submenu a,
.submenu a:hover,
.submenu a:focus {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  color: #323232;
}

.submenu a:hover,
.submenu a:focus {
  background-color: #fbded7;
}

.submenu a:active {
  background-color: #f6b5a5;
}

.submenu .special {
  font-weight: bold;
}

a.selected {
  text-decoration: none;
  background-color: #d07058;
  border-radius: 18px;
  color: white;
}

.submenu .selected {
  border-radius: 0;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
}

.login-form a {
  color: #323232;
  text-decoration: underline;
}

.login-form a:hover,
.login-form a:focus {
  color: #e84d37;
}

.search-button,
.login-button,
.cart-button {
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(255,255,255,0.2);
  border-radius: 18px;
  font-size: 14px;
  font-weight: 500;
}

a.cart-filled {
  background-color: white;
  color: #323232;
}

.search-button:hover,
.search-button:focus,
.login-button:hover,
.login-button:focus,
.cart-button:hover,
.cart-button:focus {
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 500;
}

.site-navigation-menu > a:hover,
.site-navigation-menu > a:focus {
  color: #333333;
  text-decoration: none;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  border-radius: 18px;
}

.site-navigation-menu > a:active {
  -webkit-box-shadow: inset 0 2px 1px 0px #696969;
          box-shadow: inset 0 2px 1px 0px #696969;
}

.login a.login-button:hover,
.login a.login-button:focus,
.cart a.cart-button:hover,
.cart a.cart-button:focus {
  color: black;
}

.info-workinghour {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.info-phone {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;
}

.slider img {
  position: absolute;
  z-index: -1;
  top: 0;
  left:0;
  right:0;
  margin: 0 auto;
}

.slider-item {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  text-align: center;
}

.slider-item p {
  font-size: 60px;
  line-height: 60px;
}

.slider-item a {
  font-size: 32px;
  line-height: 60px;
}

.stock-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.stock-item h3 {
  font-size: 35px;
}

.stock-raspberry {
  background: #68202f url("../img/raspberry.jpg") left top no-repeat border-box;
  border-radius: 15px;
}

.stock-chocolate {
  background: #514034 url("../img/chocolate.jpg") left top no-repeat border-box;
  border-radius: 15px;
}

.catalog-item a {
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
}

.price {
  font-weight: bold;
  font-size: 45px;
  text-shadow: 0 1px 3px #313235;
}

.price-weight {
  font-size: 30px;
}

.catalog-item img,
.cart-image {
  border-radius: 50%;
}

.about-us {
  background: #eaddbf url("../img/waffle.jpg") left top repeat border-box;
  border-radius: 15px;
  color: #323232;
  line-height: 22px;
}

.about-us h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  
}

.news h2 {
  color: #323232;
  font-size: 16px;
}

.news a {
  font-weight: bold;
  color: #353535;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  background-color: rgba(255,255,255,0.8);
}

.news a:hover,
.news a:focus {
  color: #e84d37;
}

.news {
  background: #ffffff url("../img/strawberry.jpg") no-repeat -25px -225px;
  border-radius: 14px;
}

.dispatch-text {
  color: #5a5a5a;
  line-height: 22px;
}

.dispatch {
  position: relative;
  background-color: #f8f7f4;
  border-radius: 10px;
  margin: 5px;
}

.dispatch::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background: #ffffff url("../img/letter.png");
  border: 5px solid transparent;
  border-radius: 10px;
  background-origin: border-box;
}

.map img {
  position: relative;
  top: -110px;
}

.map-adress {
  background-color: white;
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.map-adress span {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.map-adress a {
  font-weight: bold;
  font-size: 18px;
}

.social-list svg {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
          box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
  opacity: 0.8;
}

.social-button:hover svg,
.social-button:focus svg {
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.7);
          box-shadow: 0 0 0 2px rgba(255,255,255,0.7);
  opacity: 1;
}

.social-button:active path {
  fill: #dae2de;
}

.links-list {
  font-size: 13px;
}

.links-list li:first-child {
  font-weight: bold;
}

.footer-copyright {
  font-size: 12px;
}

.footer-copyright a {
  text-decoration: underline;
}

.modal,
.search-form,
.login-form,
.submenu,
.cart-list {
  background-color: #f8f7f4;
  border-radius: 10px;
}

.search-form,
.login-form,
.submenu,
.cart-list {
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal b {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
}

.cart-list {
  font-size: 13px;
  color: #323232;
}

.cart-list p {
  font-size: 15px;
  font-weight: bold;
}

.cart-price {
  color: #999999;
}

.filter fieldset {
  border: none;
}

.filter-section {
  background-color: rgba(255,255,255,0.2);
  border-radius: 18px;
}

.filter-button {
  background-image: none;
  -webkit-box-shadow: inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 2px white;
  background-color: rgba(255,255,255,0.2);
  border-radius: 18px;
  font-size: 16px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: white;
  background-image: none;
  color: #323232;
}

.filter-button:active {
  -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
          box-shadow: inset 0px 2px 1px 0px #696969;
}

.breadcrumbs {
  font-size: 14px;
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.breadcrumbs a:not(.breadcrumbs-current) {
  text-decoration: underline;
}

.filter-title {
  font-size: 14px;
}

.catalog-item:hover::before {
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.pagination-item {
  font-weight: 500;
}

.pagination-list .pagination-item-current {
  color: black;
  background-color: white;
  border-radius: 50%;
}

.pagination-item:hover {
  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}




/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*--------------------⇊-GRID-⇊------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/





img {
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.9%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  min-height: 112px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  min-height: 72px;
  
}

.navigation-logo {
  width: 154px;
  height: 64px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 376px;
  margin: 0;
  margin-top: 22px;
  margin-left: 10px;
  padding: 0;
}

.site-navigation a {
  display: block;
  padding: 8px 13px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 0;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 23px;
  padding: 0;
}

.user-navigation a,
.search-button {
  display: block;
  padding: 8px 15px;
  padding-left: 45px;
  margin-left: 10px;
}

.login-button,
.cart-button {
  position: relative;
}

.login-button::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  top: 6px;
  left: 16px;
  background: url("../img/login.svg") no-repeat 0 0;
}

.login-button:hover::before,
.login-button:focus::before {
  background: url("../img/login_black.svg") no-repeat 0 0;
}

.cart-button::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  top: 6px;
  left: 16px;
  background: url("../img/cart.svg") no-repeat 0 0;
}

.cart-button:not(.cart-filled):hover::before,
.cart-button:not(.cart-filled):focus::before {
  background: url("../img/cart_black.svg") no-repeat 0 0;
}

.cart-filled::before {
  background: url("../img/cart_filled.svg") no-repeat 0 0;
}

.search-button {
  padding: 7px 7px;
  padding-left: 7px;
}

.search-button svg {
  vertical-align: middle;
}

.search-button:hover path,
.search-button:focus path {
  fill: black;
}

.main-header-info {
  position: relative;
  top: 3px;
  margin: 0 auto;
  margin-right: 0;
  margin-top: -10px;
  width: 170px;
  min-height: 40px;
  text-align: right;
  line-height: 25px;
}

.main-container {
  display: block;
}

.slider {
  margin: 0;
  min-height: 495px;
}

.slider-list,
.slider-description {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

.slider-item {
  width: 670px;
  min-height: 220px;
  margin: 0 auto;
  padding-top: 275px;
}

.slider-description {
  min-height: 105px;
  padding-bottom: 32px;
}

.slider-hide {
  display: none;
}

.slider-item a {
  padding: 12px 40px;
}

.slider-item img {
  top: -33px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  font-size: 0;
}

.slider-radio-1:checked ~ .slider-controls label[for="btn-1"],
.slider-radio-2:checked ~ .slider-controls label[for="btn-2"],
.slider-radio-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ffffff;
}

.stock {
  margin-top: 36px;
}

.stock-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0;
}

.stock-item {
  position: relative;
  width: 48.86%;
  min-height: 230px;
}

.stock-item h3 {
  margin: 0;
  padding: 25px 20px;
}

.stock-item p {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 90px;
}

.stock-item .button {
  position: absolute;
  padding: 11px 22px; 
  right: 20px;
  bottom: 25px;
}

.catalog {
  margin-top: 40px;
  min-height: 277px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 23.29%;
  margin-bottom: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-item p:not(.price) {
  text-align: center;
  margin-top: 8px;
}

.catalog-item div:first-child {
  position: relative;
}

.catalog-button-wrapper {
  position: absolute;
  width: 100%;
  bottom: -35px;
  text-align: center;
}

.catalog-item .item-button {
  display: none;
  padding: 11px 18px;
}

.catalog-item:hover {
  z-index: 1;
}

.catalog-item:hover .item-button {
  display: inline-block;
}

.hot {
  position: absolute;
  left: 0;
  top: 0;
}

.price {
  position: absolute;
  margin: 0;
  height: 45px;
  left: 0;
  bottom: 10px;
}

.about-us {
  min-height: 306px;
}

.about-us h2 {
  margin: 0;
  padding: 25px 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.about-us-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0;
  margin-bottom: 2px;

  margin: 0 20px;
}

.about-us-elements li {
  position: relative;
  width: 49%;
  padding-left: 57px;
  margin: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.description-1::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 0;
  background: #eaddbe url("../img/icon_icecream.svg") no-repeat 0 0;
}

.description-2::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 0;
  background: #eaddbe url("../img/icon_leaf.svg") no-repeat 0 0;
}

.description-3::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 0;
  background: #eaddbe url("../img/icon_cow.svg") no-repeat 0 0;
}

.description-4::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -10px;
  left: 0;
  background: #eaddbe url("../img/icon_thermo.svg") no-repeat 0 0;
}

.flex-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 40px;
  min-height: 220px;
}

.news,
.dispatch {
  padding: 0;
  width: 48.86%;
}

.news-title {
  margin: 0;
  padding: 25px 20px;
  padding-bottom: 0;
  margin-bottom: 8px;
}

.news-text {
  width: 288px;
  margin: 0 20px;
}

.dispatch {
  width: 48%;
}

.dispatch-text {
  margin: 0;
  padding: 30px 22px;
  padding-bottom: 0;
}

.dispatch-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dispatch-form p {
  margin: 0;
}

.dispatch-form input {
  width: 50%;
  margin-left: 20px;
  padding: 12px 15px; 
  -webkit-box-flex: 1; 
      -ms-flex-positive: 1; 
          flex-grow: 1;
}

.dispatch-form button {
  padding: 12px 19px;
  margin-left: 11px;
  margin-right: 20px;
}

.map {
  position: relative;
  height: 429px;
  margin-top: 40px;
  overflow: hidden;
}

.map img {
  width: 100%;
  z-index: -1;
}

.map iframe {
  position: relative;
  width: 100%;
  border: none;
}

.map > p {
  margin: 0;
}

.map-adress-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.map-adress-relative {
  position: relative;
}

.map-adress {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 302px;
  min-height: 305px;
}

.map-adress p {
  width: 225px;
  padding: 0 25px;
  margin-top: 20px;
}

.map-adress p:nth-child(2) {
margin-top: 0;
}

.map-adress .map-adress-phone {
  line-height: 25px;
  margin-top: 10px;
}

.map-adress p:first-child {
  margin-top: 29px;
  margin-bottom: 0;
  width: 150px;
}

.map-adress a {
  display: block;
  width: 216px;
  padding: 12px 18px;
  margin: 0 25px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 18px;
}

.footer-social {
  width: 210px;
  margin-left: 2px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
  padding: 0;
}

.social-list a {
  margin-right: 18px;
  width: 32px;
  height: 32px;
}

.footer-links {
  width: 330px;
}

.links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
              justify-content: flex-start;
  padding: 0;
  margin-top: 20px;
}

.links-list li {
  display: inline-block;
  margin-bottom: 10px;
  min-width: 130px;
  margin-right: 15px;
  line-height: 12px;
}

.links-list a {
text-decoration: underline;
}

.heart {
  position: relative;
}

.heart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background: #849d8f url("../img/heart.svg") no-repeat 0 0;
  top: 0;
  left: -20px;
}

.footer-copyright {
  margin-top: 3px;
}

.footer-copyright p {
  margin: 0;
  margin-top: 3px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-top: -15px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  margin-left: 8px;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 6px;
  text-decoration: none;
}

.breadcrumbs a {
  text-decoration: underline;
}

.title {
  margin: 0;
  margin-top: 5px;
  width: 879;
}

.filter {
  margin-top: 15px;
  min-height: 132px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.filter-form fieldset {
  margin-left: 0;
  margin-top: 12px;
  margin-bottom: 2px;
  
  padding: 0;
}

.filter-title {
  margin-left: 15px;
}

.filter-form .filter-section {
  margin: 0;
  margin-top: 5px;
}

.filter-sort .filter-section {
  position: relative;
  width: 170px;
  padding: 8px 12px;
  margin-right: 12px;
}

.filter-sort .filter-section::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  -webkit-transform: scaleX(0.55);
      -ms-transform: scaleX(0.55);
          transform: scaleX(0.55);
  border: 11px solid transparent; 
  border-top: 10px solid white;
}

.filter-sort select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px; 
  -o-text-overflow: ''; 
     text-overflow: '';
  -ms-appearance: none;
  appearance: none;
}

.filter-sort select::-ms-expand {
  display: none;
}

.filter-sort select:hover + .filter-section::before {
  border: 11px solid transparent; border-top: 10px solid black;
}

.filter-price {
  width: 217px;
  padding: 8px 22px;
  margin-right: 13px;
}

.filter-fat .filter-section {
  padding: 7px 15px;
}

.filter-fat label {
  margin-right: 15px;
}

.filter-fill .filter-section {
  padding: 8px 12px;
  padding-bottom: 10px;
  padding-right: 0;
  margin-right: 14px;
}

.filter-fill label {
  margin-right: 19px;
}

.filter-section select {
  width: 100%;
  border: none;
  background: none;
  color: white;
}

.filter-section select:hover,
.filter-section select:focus {
  color: #323232;
}

.filter-price .range-controls {
  height: 20px;
  margin: 0;
  margin-top: 5px;
  padding: 0 22px;
  padding-top: 16px;
  padding-bottom: 0;
}

.filter-form .filter-price { 
  position: relative; 
  padding-top: 17px; 
}

.filter-price .filter-title { 
  position: absolute; 
  top: 0; 
}

.range-controls .scale {
  height: 4px;
  margin: 0;
  background: rgba(248,247,244,0.5);
}

.range-controls .bar {
  width: 70%;
  height: 4px;
  margin: 0;

  background: #f8f7f4;
}

.range-controls {
  position: relative;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  margin: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 132px;
}

.filter-price .price-controls {
  position: absolute;
  margin: 0;
  top: 0;
  left: 60px;
  font-size: 0;
  width: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  font-weight: 500;
}

.price-controls input {
  width: 30px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
}

.filter-button {
  height: 36px;
  padding: 0 30px;
  margin-top: 33px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
  right: -15px;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: auto;
  width: 180px;
}

.pagination-item,
.paginator-arrow {
  vertical-align: bottom;
  text-align: center;
  line-height: 26px;
  width: 27px;
  height: 26px;
}

.arrow-left {
  position: absolute;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
  left: -30px;
}

.arrow-left svg {
  margin-top: 6px;
}

.arrow-right svg {
  margin-top: 6px;
}

.border-footer {
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 15px;
}

.site-navigation-menu,
.search,
.login,
.cart {
  position: relative;
}

.submenu,
.search-form,
.login-form,
.cart-list {
  display: none;
  position: absolute;
  top: 40px;
  z-index: 1;
}

.item-button {
  bottom: -30px;
}

.submenu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 0;
  width: 143px;
}

.submenu a {
  padding-left: 19px;
}

.submenu .special {
  position: relative;
  margin-bottom: 7px;
}

.submenu .special::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 6px;
  width: 90%;
  height: 1px;
  background-color: rgba(53,53,53,0.2);
}

.search-form {
  padding: 20px 15px;
  right: 0;
}

.search-form input {
  width: 281px;
  padding: 11px 15px;
}

.login-form {
  padding: 20px 18px;
  right: 0;
}

.login-form input {
  width: 211px;
  padding: 11px 15px;
  margin-bottom: 20px;
}

.login-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
  height: 45px;
}

.login-flex button {
  padding: 12px 24px;
}

.login-flex-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
}

.login-flex-inner a {
  padding: 0;
  margin-top: 3px;
  margin-bottom: 3px;
}

.cart-list {
  padding: 15px 15px;
  right: 0;
}

.cart-list table {
  width: 510px;
  border-bottom: 1px solid #cacac7;
  vertical-align: middle;
  text-align: center;
}

.cart-list td {
  height: 53px;
}

.cart-remove {
  width: 11px;
}

.cart-icon {
  width: 61px;
}

.cart-icon img {
  vertical-align: middle;
}

.cart-item {
  width: 234px;
}

.cart-cost {
  width: 120px;
}

.cart-total {
  width: 85px;
}

.item-remove {
  width: 11px;
  height: 11px;
  padding: 0;
  font-size: 0;
  background: #f8f7f4 url("../img/cross_small.svg");
  border: 0;
  vertical-align: middle;
  cursor: pointer;
}

.cart-list p {
  text-align: right;
}

.cart-list .order-button {
  padding: 10px 15px;
  margin-right: 0;
  margin-left: auto;
  width: 142px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -4.86%;
  width: 109.72%;
  min-height: 353px;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-bottom: 60px;
  z-index: -1;
}

.site-navigation-menu:first-child:hover .submenu,
.search:hover .search-form,
.login:hover .login-form,
.cart:hover .cart-list {
  display: block;
}

@-webkit-keyframes show {
 0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
 0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes opacityup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacityup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 328px;
  left: 50%;
  width: 429px;
  margin-left: -238px;
  padding: 18px 24px;
  padding-bottom: 25px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

.modal p {
  margin: 0;
}

.modal .modal-title {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form input {
  width: 236px;
  padding: 0 14px;
  padding-top: 12px;
  padding-bottom: 9px;
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form textarea {
  width: 400px;
  height: 135px;
  padding: 10px 14px;
  margin: 0;
  margin-bottom: 22px;
}

.feedback-form button {
  padding: 12px 24px;
  float: right;
  
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  font-size: 0;
  background: #f8f7f4 url("../img/cross.svg");
  border: 0;
  cursor: pointer;
}

.modal-show {
  display: block;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

.overlay-show {
  display: block;
  -webkit-animation: opacityup 0.5s;
          animation: opacityup 0.5s;
}

.filter-checkbox,
.filter-radio {
  cursor: pointer;
}

.filter-checkbox {
  position: relative;
  padding-left: 30px;
}

.radio-indicator { 
  border: 4px solid rgba(255,255,255,0.8); 
  border-radius: 50%; 
  display: inline-block; 
  height: 14px; 
  width: 14px; 
  vertical-align: top; 
  position: relative; 
}

.radio-indicator::before { 

}

.filter-radio input[type="radio"]:hover + .radio-indicator {
  border: 4px solid rgba(255,255,255,1);
}

.filter-radio input[type="radio"]:checked + .radio-indicator {
  border: 4px solid rgba(255,255,255,1);
}

.filter-radio input[type="radio"]:checked + .radio-indicator::before {
  content: ''; 
  position: absolute; 
  height: 8px; 
  width: 8px; 
  background: rgba(255,255,255,1);
  border-radius: 50%; 
  top: 3px; 
  left: 3px; 
}

.filter-radio input[type="radio"]:disabled + .radio-indicator,
.filter-radio input[type="radio"]:disabled + .radio-indicator::before {
  opacity: 0.4
}

.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 20px;
  opacity: 0.8;
  transform: scale(0.85);
}

.checkbox-indicator-checked {
  display: none;
}

.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator {
  opacity: 1;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator-unchecked {
  display: none;
}

.filter-checkbox input[type="checkbox"]:checked ~ .checkbox-indicator-checked {
  display: block;
  opacity: 1;
}

.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator-unchecked,
.filter-checkbox input[type="checkbox"]:disabled ~ .checkbox-indicator-checked {
  opacity: 0.4;
}

.filter-checkbox input[type="checkbox"],
.filter-radio input[type="radio"] {
  display: none;
}