body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;

  background-color: #849d8f;
}

.background {
  background: #849d8f url("../img/light_1.png") top center no-repeat;
}

a {
  text-decoration: none;
}

.site-navigation,
.submenu,
.user-navigation,
.slider-list,
.stock-list,
.catalog-list,
.about-us-elements,
.footer-social,
.footer-links,
.social-list,
.links-list,
.breadcrumbs {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.slider-item a,
.stock-item a,
.catalog-item a,
.news a,
.map-adress a,
.social-list a,
.links-list a,
.footer-copyright a,
.breadcrumbs a,
.pagination-list a {
  color: #ffffff;
}

.catalog-item a:hover,
.catalog-item a:focus,
.social-list a:hover,
.social-list a:focus,
.links-list a:hover,
.links-list a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus,
.breadcrumbs a:hover,
.breadcrums a:focus {
  color: #ffbc9e;
}

.button,
.item-card {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 18px;
  font-weight: bold; 

  background-image: linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
 
  border-radius: 28px;
  border: none;
}

.slider-item .button {
  text-shadow: 0 2px 5px #a0200b;
}


.button:hover,
.button:focus {
  background-image: linear-gradient(0deg,rgb(245,134,105) 0%, rgb(236,111,94) 100%);
}

.button:active {
  background-image: linear-gradient(0deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: 0px -2px 2px 0px rgba(172, 16, 0, 0.64);
}

.form input
.form textarea {
  font: inherit;
  font-weight: bold;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}


.form input:hover,
.form textarea:hover {
  border-color: #c7c6c5;
  box-shadow: inset 0 0 0 1px #c7c6c5;
}

.form input:focus,
.form textarea:focus {
  border-color: #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #999999;
  font-weight: normal;
}

.site-navigation-menu > a {
  font-weight: bold;
  text-decoration: underline;
}

.submenu a {
  display: block;
}

.submenu a,
.submenu a:hover,
.submenu a:focus {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  color: #323232;
}

.submenu a:hover,
.submenu a:focus {
  background-color: #fbded7;
}

.submenu a:active {
  background-color: #f6b5a5;
}



.submenu .special {
  font-weight: bold;
}

a.selected {
  text-decoration: none;
  background-color: #d07058;
  border-radius: 18px;
  color: white;
}

.submenu .selected {
  border-radius: 0;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
}

.login-form a {
  color: #323232;
  text-decoration: underline;
}

.login-form a:hover,
.login-form a:focus {
  color: #e84d37;
}

.search-button,
.login-button,
.cart-button {
  background-image: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.2);
  border-radius: 18px;
  font-size: 14px;
  font-weight: 500;
}

a.cart-filled {
  background-color: white;
  color: #323232;
}

.search-button:hover,
.search-button:focus,
.login-button:hover,
.login-button:focus,
.cart-button:hover,
.cart-button:focus {
  background-image: none;
  box-shadow: none;
  background-color: white;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 500;
}

.site-navigation-menu > a:hover,
.site-navigation-menu > a:focus {
  color: #333333;
  text-decoration: none;
  background-image: none;
  box-shadow: none;
  background-color: white;
  border-radius: 18px;
}

.site-navigation-menu > a:active {
  box-shadow: inset 0 2px 1px 0px #696969;
}

.login a.login-button:hover,
.login a.login-button:focus,
.cart a.cart-button:hover,
.cart a.cart-button:focus {
  color: black;
}

.info-workinghour {
  font-weight: bold;
  font-size: 14px;
}

.info-phone {
  font-weight: bold;
  font-size: 22px;
}

.slider {
  position: relative;
}

.slider img {
  position: absolute;
  z-index: -1;
  top: 0;
  left:0;
  right:0;
  margin: 0 auto;
}

.slider-item {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  text-align: center;
}

.slider-item p {
  font-size: 60px;
  line-height: 60px;
}

.slider-item a {
  font-size: 32px;
  line-height: 60px;
}

.stock-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.stock-item h3 {
  font-size: 35px;
}

.stock-raspberry {
  background: url("../img/raspberry.jpg") left top no-repeat border-box;
  border-radius: 12px;
}

.stock-chocolate {
  background: url("../img/chocolate.jpg") left top no-repeat border-box;
  border-radius: 12px;
}

.catalog-item a {
  font-weight: 500;
  text-decoration: underline;
}

.price {
  font-weight: bold;
  font-size: 45px;
}

.price-weight {
  font-size: 30px;
}

.catalog-item img,
tr img {
  border-radius: 50%;
}

.about-us {
  background: url("../img/waffle.jpg") left top repeat border-box;
  border-radius: 12px;
  color: #323232;
  line-height: 22px;
}

.about-us h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  
}

.news {
  color: #5a5a5a;
  background: url("../img/strawberry.jpg") left top no-repeat border-box;
  border-radius: 12px;
}

.news h2 {
  font-size: 16px;
}

.news a {
  font-weight: bold;
  color: #353535;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  background-color: rgba(255,255,255,0.8);
}

.news a:hover,
.news a:focus {
  color: #e84d37;
}

.news {
  background: url("../img/strawberry.jpg") no-repeat;
  border-radius: 14px;
}

.dispatch-text {
  color: #5a5a5a;
  line-height: 22px;
}

.dispatch {
  position: relative;
  background-color: #f8f7f4;
  border-radius: 14px;
  margin: 5px;
}

.dispatch::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-image: url("../img/letter.png");
  border: 5px solid transparent;
  border-radius: 14px;
  background-origin: border-box;
}

.map-adress {
  background-color: white;
  border-radius: 12px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.map-adress span {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: black;
}

.map-adress a {
  font-weight: bold;
  font-size: 18px;
}

.social-list img {
  border-radius: 16px;
  box-shadow: 0 0 0 2px #c2cec7;
}

.links-list {
  font-size: 13px;
}

.links-list li:first-child {
  font-weight: bold;
}

.footer-copyright {
  font-size: 12px;
}

.footer-links,
.footer-copyright a {
  text-decoration: underline;
}

.modal-feedback,
.search-form,
.login-form,
.submenu,
.cart-list {
  background-color: #f8f7f4;
  border-radius: 10px;
}

.search-form,
.login-form,
.submenu,
.cart-list {
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-feedback b {
  color: #323232;
}

.cart-list {
  font-size: 13px;
  color: #323232;
}

.cart-list p {
  font-size: 15px;
  font-weight: bold;
}

.cart-price {
  color: #999999;
}

.filter fieldset {
  border: none;
}

.filter-section {
  background-color: rgba(255,255,255,0.2);
  border-radius: 18px;
}

.filter-button {
  background-image: none;
  box-shadow: inset 0 0 0 2px white;
  background-color: rgba(255,255,255,0.2);
  border-radius: 18px;
  font-size: 16px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: white;
  background-image: none;
  color: #323232;
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.breadcrumbs {
  font-size: 14px;
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.breadcrumbs li:not(.breadcrumbs-current) {
  text-decoration: underline;
}

.filter-title {
  font-size: 14px;
}

.catalog-item:hover {
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
}

.pagination-item {
  font-weight: 500;
}

.pagination-list .pagination-item-current {
  color: black;
  background-color: white;
  border-radius: 50%;
}

.pagination-item:hover {
  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
}

.visually-hidden,
.modal {
  display: none;
}

/*-----------------------------------------------------*/
/*--------------------⇊-GRID-⇊------------------------*/
/*-----------------------------------------------------*/

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin: 0 auto;
  width: 860px;
  min-height: 112px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  min-height: 72px;
}

.navigation-logo {
  width: 154px;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 350px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  width: 245px;
  margin: 0;
  padding: 0;
}

.main-header-info {
  margin: 0 auto;
  margin-right: 20px;
  width: 170px;
  min-height: 40px;
}

.slider {
  margin: 0;
  min-height: 495px;
}

.slider-list,
.slider-description {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

.slider-item {
  width: 670px;
  min-height: 210px;
  margin: 0 auto;
  padding-top: 285px;
}

.slider-description {
  min-height: 105px;
  padding-bottom: 25px;
}

.slider-item a {
  padding: 10px 40px;
}

.stock {
  margin-top: 19px;
}

.stock-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 20px;
}

.stock-item {
  width: 420px;
  height: 230px;
}

.catalog {
  margin-top: 40px;
  min-height: 277px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 200px;
  margin-bottom: 25px;
}

.hot,
.price {
  position: absolute;
  top: 0;
  left: 0;
}

.about-us {
  min-height: 372px;
  margin: 0 20px;
}

.about-us h2 {
  margin: 0;
}

.about-us-elements {
  padding: 0;
}

.flex-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 40px;
  min-height: 220px;
}

.news,
.dispatch {
  padding: 0;
  width: 420px;
}

.dispatch {
  width: 410px;
}

.map {
  position: relative;
  height: 429px;
  margin-top: 40px;
  overflow: hidden;
}

.map > p {
  margin: 0;
}

.map-adress {
  position: absolute;
  top: 62px;
  right: 20px;
  width: 302px;
  min-height: 305px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  width: 860px;
  margin: 0 auto;
  margin-top: 15px;
  
}

.footer-social {
  width: 185px;
}

.social-list {
  margin: 0;
  padding: 0;
}

.footer-links {
  width: 330px;
}

.breadcrumbs {
  margin: 0;
  padding-left: 20px;
}

.breadcrumbs li {
  display: inline-block;
}

.title {
  margin: 0;
  margin-top: 5px;
  padding-left: 20px;
}

.filter {
  margin: 0 20px;
  margin-top: 25px;
  min-height: 132px;
}

.filter-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination-list {
  margin-top: 25px;
  margin-left: auto;
  margin-right: 20px;
  width: 190px;
}
.pagination-item {
  display: inline-block;
  text-align: center;
  width: 27px;
  height: 26px;
}
